

div #link{
    color: rgb(36, 12, 12);
    font-family:'Dancing Script', 'Playwrite US Trad Guides', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    text-decoration: dashed underline;
}
div #relative_link{
    color:yellow;
    font-style: italic;
    font-size: larger;
}
#education {
    color:rgb(21, 3, 123);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
div ol ol:last-of-type {
    background-color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #Heading {
    color:brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: xx-large;
    text-align: end;
} */
/* body img:first-of-type {
    border-radius: 10;
} */

projects body {
    background-color: blue;
}
footer>p{
    text-align: end;
    font-size: 25px;
    color: rgb(43, 32, 18);
    /* font-weight: bolder; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0%;
}

#my_pic{
    border-radius: 20px;
}

div ul ol li{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url("/Pictures/IMG_20251205_165554255_HDR.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255,0%),rgba(255, 255, 255,50%)),url("/Pictures/IMG_20251205_165554255_HDR.jpg");
}

#experience {
    color:gold;
    font-size: large;
}

footer img{
    background-color: transparent;
    display: flex;
    align-items: flex-end;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: dashed underline;
    font-size: xx-large;
}


footer a {
    margin-left: 5px;
}